<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav>
  <a routerLink="/animals" routerLinkActive="active-link">Animals</a>
  <a routerLink="/detail" routerLinkActive="active-link">Details</a>
  <a routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
  <a routerLink="/messages" routerLinkActive="active-link">Messages</a>
  <a routerLink="/search" routerLinkActive="active-link">Search</a>
  <a routerLink="/add" routerLinkActive="active-link">Add</a>
  <a routerLink="/calendar" routerLinkActive="active-link">Calendar</a>
  <a routerLink="/form" routerLinkActive="active-link">Form</a>
</nav>

<router-outlet></router-outlet>